<div id="picture">
  <!-- <img class="rounded float-right" src="assets/images/earth.png" alt="Card image cap" /> -->
</div>
<div class="alert"></div>

<div id="informations" class="card text-white bg-secondary ml-5 mt-2 text-center">
  <div class="card-header">

  </div>
  <div class="card-body ">
    <a style="float:right" onclick="createPDF()" class="btn btn-danger"><i class="far fa-file-pdf"></i></a>
    <h5 class="card-title"></h5>

    <p class="card-text text-justify"></p>

  </div>
  <div class="card-footer text-dark">
    <span> <span id="tags"></span> <i onclick="displayAddTags()" class="pl-2 text-white fas fa-plus-circle"></i></span>
    <div id="add_tags" class="container-fluid"></div>
  </div>
  <div>
  </div>
</div>
