<div id="searchbar">


  <div id="hideSearchbar" class="bg-secondary text-white"><i onclick="hideBox()" class="fas fa-caret-up"></i></div>


  <div class="input-group mb-3">


  <input type="text" class="text-monospace form-control form-control-lg" placeholder="Où partons nous aujourd’hui ?" aria-label="Où partons nous aujourd’hui ?" aria-describedby="basic-addon2">
  <div class="input-group-append hide_mobile">
    <span class="input-group-text" id="basic-addon2"><img src="assets/images/spaceship.png"/></span>
  </div>
  <div class="input-group-append show_mobile" hidden>
    <span class="input-group-text"><i class="fas fa-space-shuttle"></i></span>
  </div>
</div>
</div>
